@import "colors.css";

* {
  border: none;
  border-radius: 0;
  font-family: "CaskaydiaCove Nerd Font Propo";
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* Workspace block */

#workspaces {
  border-radius: 6px;
  margin-right: 8px;
  background-color: @surface_container_high;
}

#workspaces button {
  background: transparent;
  padding: 5px;
  font-size: 18px;
  color: @on_surface_variant;
}

#workspaces button:hover {
  background: @surface_container_highest;
  border-radius: 4px;
}

#workspaces button.active {
  color: @primary;
}

/* Main modules */

#window,
#keyboard-state,
#custom-weather,
#clock,
#idle_inhibitor,
#pulseaudio,
#custom-volume-output,
#custom-volume-input,
#network,
#backlight,
#battery,
#memory,
#cpu,
#custom-dnd,
#custom-tomat,
#tray {
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 8px;
  border-radius: 6px;
  color: @on_surface;
  background: @surface_container;
}

/* Audio muted */

#pulseaudio.muted,
#custom-volume-output.muted,
#custom-volume-input.muted {
  background-color: @secondary_container;
  color: @on_secondary_container;
}

/* Battery states */

#battery.charging {
  background-color: @secondary_fixed_dim;
  color: @on_secondary_fixed;
}

#battery.warning:not(.charging) {
  background-color: @tertiary_fixed_dim;
  color: @on_tertiary_fixed;
}

#battery.critical:not(.charging) {
  background-color: @error;
  color: @on_error;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* #custom-tomat.work { */
/*   background-color: @primary; */
/*   color: @on_primary; */
/* } */
/**/
/* #custom-tomat.work-paused { */
/*   background-color: @secondary_container; */
/*   color: @on_secondary_container; */
/* } */

#custom-tomat.work {
  background-color: @primary_container;
  color: @on_primary_container;
}

#custom-tomat.work-paused {
  background-color: @surface_container_high;
  color: @on_surface;
}

@keyframes blink {
  to {
    background-color: @on_error;
    color: @error;
  }
}
